In [1]:
import pandas as pd
import numpy as np

from pandas.core.dtypes.common import is_numeric_dtype, is_string_dtype

In [2]:
def get_numeric_col(df):
    numeric_col_list = []

    for col_name in df.columns:
        if is_numeric_dtype(df[col_name].dtypes):
            numeric_col_list.append(col_name)

    return numeric_col_list


def get_string_col(df):
    string_col_list = []

    for col_name in df.columns:
        if is_string_dtype(df[col_name].dtypes):
            string_col_list.append(col_name)

    return string_col_list


def outlier_iqr(df):
    numeric_col_list = get_numeric_col(df)
    total_size = df.shape[0]
    total_outlier_size = 0
    for col_name in numeric_col_list:
        q1, q3 = np.percentile(df[col_name], [25, 75])

        iqr = q3 - q1

        lower_bound = q1 - (iqr * 1.5)
        upper_bound = q3 + (iqr * 1.5)

        count = 0
        count += df[upper_bound < df[col_name]].shape[0]
        count += df[df[col_name] < lower_bound].shape[0]

        if count < total_size * 0.025:
            df = df[upper_bound >= df[col_name]]
            df = df[df[col_name] >= lower_bound]
            total_outlier_size += count

    return total_outlier_size, df

In [3]:
def check_dataset(df):
    print(df.info())
    print()
    print(f'number of "NULL" value: {df.isnull().sum().sum()}')
    df_drop_NAN = df.dropna(axis=0)
    print(f'droped row : {df.shape[0] -df_drop_NAN.shape[0]}', end='\n\n')

    num_outlier, df_drop_outlier = outlier_iqr(df_drop_NAN.copy())
    print(f'number of outlier : {num_outlier} / {df_drop_NAN.shape[0]} ---> {df_drop_NAN.shape[0] - num_outlier}')

    return df_drop_outlier

In [4]:
def makePriceToClass(df):
    df.loc[df['price']<=10000,'class']='A'
    df.loc[(df['price']>10000) & (df['price']<=20000),'class']='B'
    df.loc[(df['price']>20000) & (df['price']<=30000),'class']='C'
    df.loc[(df['price']>30000) & (df['price']<=50000),'class']='D'
    df.loc[(df['price']>50000) ,'class']='E'
    df.drop('price',axis=1)
    return df

In [5]:
df = pd.read_csv(r'.\dataset\vehicles.csv')

In [6]:
print(df.shape[0])
null_count_series = df.isnull().sum()
print(null_count_series)

426880
id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [20]:
year_threshold = 1990
print(df[df['year'] < year_threshold].shape[0])
df_after_thresh = df[df['year'] >= year_threshold]
print(df_after_thresh.head(10))

12383
            id                                                url  region  \
27  7316814884  https://auburn.craigslist.org/ctd/d/auburn-uni...  auburn
28  7316814758  https://auburn.craigslist.org/ctd/d/auburn-uni...  auburn
29  7316814989  https://auburn.craigslist.org/ctd/d/auburn-uni...  auburn
30  7316743432  https://auburn.craigslist.org/ctd/d/auburn-uni...  auburn
31  7316356412  https://auburn.craigslist.org/cto/d/auburn-uni...  auburn
32  7316343444  https://auburn.craigslist.org/ctd/d/auburn-uni...  auburn
33  7316304717  https://auburn.craigslist.org/ctd/d/auburn-uni...  auburn
34  7316285779  https://auburn.craigslist.org/cto/d/auburn-201...  auburn
35  7316257769  https://auburn.craigslist.org/ctd/d/auburn-uni...  auburn
36  7316133914  https://auburn.craigslist.org/ctd/d/auburn-uni...  auburn

                       region_url  price    year manufacturer  \
27  https://auburn.craigslist.org  33590  2014.0          gmc
28  https://auburn.craigslist.org  22590  2010.0    chevrolet
29  https://auburn.craigslist.org  39590  2020.0    chevrolet
30  https://auburn.craigslist.org  30990  2017.0       toyota
31  https://auburn.craigslist.org  15000  2013.0         ford
32  https://auburn.craigslist.org  27990  2012.0          gmc
33  https://auburn.craigslist.org  34590  2016.0    chevrolet
34  https://auburn.craigslist.org  35000  2019.0       toyota
35  https://auburn.craigslist.org  29990  2016.0    chevrolet
36  https://auburn.craigslist.org  38590  2011.0    chevrolet

                          model  condition    cylinders  ...       size  \
27     sierra 1500 crew cab slt       good  8 cylinders  ...        NaN
28               silverado 1500       good  8 cylinders  ...        NaN
29          silverado 1500 crew       good  8 cylinders  ...        NaN
30         tundra double cab sr       good  8 cylinders  ...        NaN
31                    f-150 xlt  excellent  6 cylinders  ...  full-size
32  sierra 2500 hd extended cab       good  8 cylinders  ...        NaN
33        silverado 1500 double       good  6 cylinders  ...        NaN
34                       tacoma  excellent  6 cylinders  ...        NaN
35        colorado extended cab       good  6 cylinders  ...        NaN
36         corvette grand sport       good  8 cylinders  ...        NaN

      type paint_color                                          image_url  \
27  pickup       white  https://images.craigslist.org/00R0R_lwWjXSEWNa...
28  pickup        blue  https://images.craigslist.org/00R0R_lwWjXSEWNa...
29  pickup         red  https://images.craigslist.org/01212_jjirIWa0y0...
30  pickup         red  https://images.craigslist.org/00x0x_1y9kIOzGCF...
31   truck       black  https://images.craigslist.org/00404_l4loxHvdQe...
32  pickup       black  https://images.craigslist.org/00V0V_ftJbKrOgdi...
33  pickup      silver  https://images.craigslist.org/00E0E_iKN07Sh7ou...
34   truck        grey  https://images.craigslist.org/00101_dXoZTH7iVm...
35  pickup         red  https://images.craigslist.org/00N0N_1xMPvfxRAI...
36   other         red  https://images.craigslist.org/00U0U_kKYnS1LWh8...

                                          description county state      lat  \
27  Carvana is the safer way to buy a car During t...    NaN    al  32.5900
28  Carvana is the safer way to buy a car During t...    NaN    al  32.5900
29  Carvana is the safer way to buy a car During t...    NaN    al  32.5900
30  Carvana is the safer way to buy a car During t...    NaN    al  32.5900
31  2013 F-150 XLT V6 4 Door. Good condition. Leve...    NaN    al  32.5920
32  Carvana is the safer way to buy a car During t...    NaN    al  32.5900
33  Carvana is the safer way to buy a car During t...    NaN    al  32.5900
34  Selling my 2019 Toyota Tacoma TRD Off Road Dou...    NaN    al  32.6013
35  Carvana is the safer way to buy a car During t...    NaN    al  32.5900
36  Carvana is the safer way to buy a car During t...    NaN    al  32.5900

         long              posting_date
27 -85.480000  2021-05-04T12:31:18-0500
28 -85.480000  2021-05-04T12:31:08-0500
29 -85.480000  2021-05-04T12:31:25-0500
30 -85.480000  2021-05-04T10:41:31-0500
31 -85.518900  2021-05-03T14:02:03-0500
32 -85.480000  2021-05-03T13:41:25-0500
33 -85.480000  2021-05-03T12:41:33-0500
34 -85.443974  2021-05-03T12:12:59-0500
35 -85.480000  2021-05-03T11:31:14-0500
36 -85.480000  2021-05-03T07:50:35-0500

[10 rows x 26 columns]

In [9]:
print(df_after_thresh.shape[0])
null_count_series = df_after_thresh.isnull().sum()
print(null_count_series)

413292
id                   0
url                  0
region               0
region_url           0
price                0
year                 0
manufacturer     14229
model             4146
condition       169290
cylinders       173639
fuel              2729
odometer          4293
title_status      7914
transmission      2465
VIN             150311
drive           125603
size            298001
type             87471
paint_color     125342
image_url            0
description          2
county          413292
state                0
lat               6451
long              6451
posting_date         0
dtype: int64

In [23]:
# ['condition', 'cylinders', 'VIN', 'drive', 'size', 'paint_color', 'county']
has_many_null_col_list = list(null_count_series[null_count_series > df.shape[0]/2].index)
print(has_many_null_col_list)
drop_col_list = ['url', 'image_url', 'posting_date', 'description', 'region_url', 'id', 'lat', 'long']
drop_col_list += has_many_null_col_list

df_drop_unusful = df_after_thresh.drop(drop_col_list, axis=1)

df_drop_outlier = check_dataset(df_drop_unusful.copy())

['size', 'county']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 413292 entries, 27 to 426879
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        413292 non-null  object
 1   price         413292 non-null  int64
 2   year          413292 non-null  float64
 3   manufacturer  399063 non-null  object
 4   model         409146 non-null  object
 5   condition     244002 non-null  object
 6   cylinders     239653 non-null  object
 7   fuel          410563 non-null  object
 8   odometer      408999 non-null  float64
 9   title_status  405378 non-null  object
 10  transmission  410827 non-null  object
 11  VIN           262981 non-null  object
 12  drive         287689 non-null  object
 13  type          325821 non-null  object
 14  paint_color   287950 non-null  object
 15  state         413292 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 53.6+ MB
None

number of "NULL" value: 867432
droped row : 352897

number of outlier : 1775 / 60395 ---> 58620

In [24]:
for col_name in get_string_col(df_drop_outlier):
        if df_drop_outlier[col_name].dtype == 'object':
            print(f'{col_name}(categorical column) has "{len(df_drop_outlier[col_name].unique())}" different value')

region(categorical column) has "398" different value
manufacturer(categorical column) has "39" different value
model(categorical column) has "6038" different value
condition(categorical column) has "6" different value
cylinders(categorical column) has "8" different value
fuel(categorical column) has "5" different value
title_status(categorical column) has "6" different value
transmission(categorical column) has "3" different value
VIN(categorical column) has "30029" different value
drive(categorical column) has "3" different value
type(categorical column) has "13" different value
paint_color(categorical column) has "12" different value
state(categorical column) has "51" different value

In [25]:
# print(df_after_thresh['model'].unique())
df_drop_outlier.drop(['model', 'VIN'], axis=1, inplace=True)

In [29]:
df_drop_outlier.reset_index(drop=True, inplace=True)
df_drop_outlier.to_csv(r'./dataset/afterPreprocessing.csv')

In [28]:
print(df_drop_outlier.head(10))
print(df_drop_outlier.shape[0])

   region  price    year manufacturer condition    cylinders   fuel  odometer  \
0  auburn  27990  2012.0          gmc      good  8 cylinders    gas   68696.0
1  auburn  34590  2016.0    chevrolet      good  6 cylinders    gas   29499.0
2  auburn  29990  2016.0    chevrolet      good  6 cylinders    gas   17302.0
3  auburn  38590  2011.0    chevrolet      good  8 cylinders    gas   30237.0
4  auburn  32990  2017.0         jeep      good  6 cylinders    gas   30041.0
5  auburn  37990  2016.0    chevrolet      good  8 cylinders    gas    9704.0
6  auburn  27990  2018.0       nissan      good  6 cylinders    gas   37332.0
7  auburn  34990  2018.0         ford      good  8 cylinders    gas   18650.0
8  auburn  29990  2014.0    chevrolet      good  8 cylinders    gas   26129.0
9  auburn  33990  2017.0         jeep      good  6 cylinders  other   34152.0

  title_status transmission drive    type paint_color state
0        clean        other   4wd  pickup       black    al
1        clean        other   4wd  pickup      silver    al
2        clean        other   4wd  pickup         red    al
3        clean        other   rwd   other         red    al
4        clean        other   4wd   other      silver    al
5        clean        other   rwd   coupe         red    al
6        clean        other   4wd  pickup      silver    al
7        clean        other   rwd   other       black    al
8        clean        other   4wd  pickup       brown    al
9        clean        other   4wd     SUV       white    al
58620

In [34]:
df_drop_outlier = pd.read_csv(r'./dataset/afterPreprocessing.csv', index_col='Unnamed: 0')
print(df_drop_outlier.head(10))

   region  price    year manufacturer fuel  odometer title_status  \
0  auburn  33590  2014.0          gmc  gas   57923.0        clean
1  auburn  22590  2010.0    chevrolet  gas   71229.0        clean
2  auburn  39590  2020.0    chevrolet  gas   19160.0        clean
3  auburn  30990  2017.0       toyota  gas   41124.0        clean
4  auburn  15000  2013.0         ford  gas  128000.0        clean
5  auburn  27990  2012.0          gmc  gas   68696.0        clean
6  auburn  34590  2016.0    chevrolet  gas   29499.0        clean
7  auburn  35000  2019.0       toyota  gas   43000.0        clean
8  auburn  29990  2016.0    chevrolet  gas   17302.0        clean
9  auburn  38590  2011.0    chevrolet  gas   30237.0        clean

  transmission    type state      lat       long
0        other  pickup    al  32.5900 -85.480000
1        other  pickup    al  32.5900 -85.480000
2        other  pickup    al  32.5900 -85.480000
3        other  pickup    al  32.5900 -85.480000
4    automatic   truck    al  32.5920 -85.518900
5        other  pickup    al  32.5900 -85.480000
6        other  pickup    al  32.5900 -85.480000
7    automatic   truck    al  32.6013 -85.443974
8        other  pickup    al  32.5900 -85.480000
9        other   other    al  32.5900 -85.480000

In [40]:
from sklearn.preprocessing import OrdinalEncoder

encoder=OrdinalEncoder()
df_needEncoding=df_after_thresh[get_string_col(df_after_thresh)]
df_notEncoding=df_after_thresh.drop(get_string_col(df_after_thresh), axis=1)

df_encoding=pd.DataFrame(encoder.fit_transform(df_needEncoding), columns=get_string_col(df_after_thresh))

# print(df_encoding.tail(10))
# print(df_notEncoding.tail(10))

df_encoding = pd.concat([df_notEncoding, df_encoding], axis=1)

df_encoding.to_csv(r'./dataset/123.csv')

In [18]:
print(df_drop_outlier.isnull().sum())
print(df_drop_outlier.shape[0])

region          0
price           0
year            0
manufacturer    0
fuel            0
odometer        0
title_status    0
transmission    0
type            0
state           0
lat             0
long            0
dtype: int64
284392